*.DS_Store
*.iml
*.pyc
*.so
*~
*.swp
*.swo
*.swm
*.swi
*.swj
*.swk
*.swl
*.swn
*.swo
*.swh
build/
dist/
gen/
bin/
.gradle/
.idea/
gradle/
gradlew
gradlew.bat
*.classes
.classpath
*.xcuserdatad
local.properties
